config.php
storage/backups/*
!storage/backups/.htaccess
!storage/backups/index.html
storage/logs/*
!storage/logs/.htaccess
!storage/logs/index.html
uploads/*
!uploads/.htaccess
!uploads/index.html
Thumbs.db
.DS_Store
